.project {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;
    padding: 24px 40px;
    transition: background-color 100ms;
    border: 1px solid var(--border);

    &:hover {
        background-color: var(--accent-bg);
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 16px;
    }
}

.thumbnail_container {
    flex: 0 0 140px;
    margin-right: 24px;
}

.thumbnail {
    width: 140px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}

.project_details_container {
    flex: 1;
    padding: 0;
}
